.backButton {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.backButton > a{
  color: white;
  text-decoration: none;
}